<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5xQdlua1fc_-4Mnmlt9LO12r8XkhtwtU</string>
	<key>GCM_SENDER_ID</key>
	<string>490506863605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.momoWalletWatcher</string>
	<key>PROJECT_ID</key>
	<string>wallet-watcher-6bd73</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-watcher-6bd73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490506863605:ios:7fbdcc81acf01a6eacd6bc</string>
</dict>
</plist>